.status-open {
  color: white;
  background-color: $grey-9;
}
.status-saved {
  color: white;
  background-color: $grey-9;
}

.status-closed {
  color: white;
  background-color: $lime-9;
}

.status-approved {
  color: white;
  background-color: $green-9;
}

.status-pending {
  color: white;
  background-color: $yellow-9;
}

.status-rejected {
  color: white;
  background-color: $red-8;
}
