.status-open {
  background-color: $grey-9;
  .q-item__label {
    color: white !important;
  }
}

.status-saved {
  background-color: $grey-9;
  .q-item__label {
    color: white !important;
  }
}

.status-closed {
  background-color: $lime-9;
  .q-item__label {
    color: white !important;
  }
}

.status-approved {
  background-color: $green-9;
  .q-item__label {
    color: white !important;
  }
}

.status-pending {
  background-color: $yellow-9;
  .q-item__label {
    color: white !important;
  }
}

.status-rejected {
  background-color: $red-8;
  .q-item__label {
    color: white !important;
  }
}

.status-resolved {
  background-color: $red-8;
  .q-item__label {
    color: white !important;
  }
}

.status-reopened {
  background-color: $red-8;
  .q-item__label {
    color: white !important;
  }
}

.criticality-high {
  background-color: $red-8;
  .q-item__label {
    color: white !important;
  }
}
.criticality-medium {
  background-color: $yellow-8;
  .q-item__label {
    color: white !important;
  }
}

.criticality-low {
  background-color: $grey-8;
  .q-item__label {
    color: white !important;
  }
}
